/* ---------- header ---------- */
.header{
  background:#3867d6;
}

.header__bar{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  max-width:480px;
  margin:0 auto;
  padding:.8rem 1rem;
}

a {
  text-decoration:none;
}

a:hover{
  opacity: 0.8;
  text-decoration: none;
}

.header__title a {
  color:#fff;
  font-size: 40px;
}

.header__title a:visited{
  color: #ffffff;
}

.lists-right ul{
  display: flex;
}

.lists-right li {
  margin-left: 10px;
  background-color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}

.lists-right li a {
  color: #3867d6;
  text-decoration: none;
  display: block;
}

.lists-right li a:visited {
  color: #3867d6;
}