<%= form_with(model: [@car, @calculation, @signalinfo], local: true) do |f| %>
  <div>
    信号名：<%= f.text_field :signal_name %>
  </div>
  <div>
    信号の種類：
    <%= f.collection_select(:signal_type_id, SignalType.all, :id, :name, {})%>
  </div>
  <%= f.submit "信号を更新" %>
<% end %>